---
layout: home
---


<div class="bg-white p-1">
  Questo è un testo introduttivo generale (max 500 caratteri).
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut molestie dolor vitae vehicula bibendum. In efficitur tellus orci, vel sagittis nisi viverra vitae. Cras pretium ut ipsum eu sodales. Praesent consectetur rutrum arcu, sed pharetra risus dignissim non.
</div>

<div class="spacer"></div>

{% include before-after.html %}

<div class="spacer"></div>

<div class="ratio ratio-16x9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="spacer"></div>

<div class="bg-white p-1">
  Questo è un testo sul contesto: Aprilia, Toscanini, la storia del luogo, ecc. (max 500 caratteri).
  Cras vestibulum eget purus sit amet eleifend. Quisque a dolor vitae lacus suscipit gravida nec at urna. Curabitur id diam quam. Aenean non interdum tellus. Quisque eget suscipit nunc. Aenean semper varius erat, dictum euismod tortor maximus non. Vivamus nec elit rhoncus, pulvinar elit eu, tempor eros. Phasellus id viverra arcu, ac malesuada velit. Mauris aliquet tortor quis sollicitudin feugiat. Morbi lobortis accumsan est, nec lobortis dolor dignissim quis.
</div>

<div class="spacer"></div>


{% include features.html %}
