---
layout: home
---


<h2 class="mt-3">Sottotitolo</h2>

<div class="bg-white p-1">
  Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
</div>

<div class="spacer"></div>

{% include before-after.html %}

<div class="spacer"></div>

<div class="ratio ratio-16x9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="spacer"></div>


{% include features.html %}
