<main id="features">

  <div class="accordion accordion-flush" id="accordion-features">
    {% for feature in site.features %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed px-3 bg-white h2 mb-0 j-fs-inherit" type="button" data-bs-toggle="collapse" data-bs-target="#{{ feature.slug }}-inner">
          {{ feature.heading }}
        </button>
      </h2>
      <div id="{{ feature.slug }}-inner" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordion-features">
        <div class="accordion-body">{{ feature.content }}</div>
      </div>
    </div>
    <div class="spacer2rem"></div>
    {% endfor %}
  </div>

</main>


<!--
    <section>
      <a type="button" data-bs-toggle="collapse" href="#{{ feature.slug }}-inner" >{{ feature.heading }}<br>{{ feature.subheading }}</a>
      <div class="collapse" data-bs-parent="#features" id='{{ feature.slug }}-inner'>
        <div class="card card-body">
          {{ feature.content }}
        </div>
      </div>
    </section>
-->
