<footer class="mt-5 mb-2 smaller">
    <hr>
    <p class="fw-bold">PROSSIMA APERTURA is a project by </p>
    <p> <a class="fw-bold link-dark" target="_blank" href="https://www.orizzontale.org"> Orizzontale</a> +
    <a class="fw-bold link-dark" target="_blank" href="http://www.adlmarchitetti.it/"> ADLM Architetti </a> </p>
    <p class="fw-bold"> with </p>
    <p> Noeo // Ricerca psicosociale</p>
    <p> Mimmo Rubino // Arte e comunicazione </p>
    <p> Mara Zamuer // Comunicazione </p>
    <p> Alessandro Imbriaco + Alessandro Vitali // Fotografia </p>
    <p> Nicola Barbuto // Video </p>


    <br>
    <br>
    <p>©2021 Orizzontale</p>

<div class="spacer2rem"></div>
</footer>
