<footer class="mt-5 mb-2 px-3 pb-3 smaller">
    <hr>
    <p class="fw-bold">PROSSIMA APERTURA, QUARTIERE TOSCANINI, APRILIA </p>
    <br>
    <p class="fw-bold"> Concorso / Competition: </p>
    <p> Progetto vincitore del concorso di idee per la riqualificazione di dieci aree periferiche /<br><en> Winning project of the competition the ideas for the redevelopment of ten peripherial urban areas </en></p>
    <p> <b> Gruppo di lavoro / <i>Team work</i>:  </b>       Orizzontale, NOEO, WALLS </p>
    <p> <b> Promosso da / <i>Promoted by</i>:     </b>       CNAPPC, MiBACT</p>
    <br>
    <p> <b> Opera pubblica / <i>Public works</i>:  </b>    </p>
    <p> <b> Data / <i>Period</i>:  </b>     2019 - in corso / ongoing</p>
    <p> <b> Committente / <i>Client</i>:  </b>     Comune di Aprilia</p>
    <p> <b> Promosso da / <i>Promoted by</i>:  </b>     Comune di Aprilia, MEF, MINT</p>
    <p> <b> A cura di / <i>Curated by</i>:  </b>     orizzontale // Jacopo Ammendola, Juan Lopez Cano, Giuseppe Grant, Margherita Manfra, Nasrin Mohiti Asli, Roberto Pantaleoni, Stefano Ragazzo</p>
    <p> <b> In collaborazione con / <i>In collaboration with</i>:  </b>     ADLM Architetti, NOEO (ricerca psicosociale/psychosocial research), Rub Kandy (arte pubblica/public art), Mara Zamuner (comunicazione/communication), Alessandro Imbriaco, Alessandro Vitali (fotografia/photography), Nicola Barbuto (videomaker)</p>
    <br>
    <br>
    <p>©2021 <a class="link-dark" target="_blank" href="https://www.orizzontale.org"> Orizzontale</a></p>

<div class="spacer2rem"></div>
</footer>
