<!-- this gallery uses swiper 6.6.2 -->
<!--  include gallery.html name="gallery_progetto" folder="/img/gallery_progetto"  -->

<div class="spacer2rem"></div>

<div class="swiper-container" id="{{ include.name }}">
  <div class="swiper-wrapper">
    {% for image in site.static_files %}
      {% if image.path contains include.folder %}
      <div class="swiper-slide swiper-lazy my-3" data-background="{{ image.path }}">
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="swiper-button-prev d-none d-md-block" id="{{ include.name }}-button-prev"></div>
  <div class="swiper-button-next d-none d-md-block" id="{{ include.name }}-button-next"></div>
  <div class="swiper-scrollbar" id="{{ include.name }}-scrollbar"></div>
</div>

<script>
const swiper_{{ include.name }} = new Swiper('#{{ include.name }}', {

  direction: 'horizontal',
  loop: false,

  navigation: {
    nextEl: '#{{ include.name }}-button-next',
    prevEl: '#{{ include.name }}-button-prev',
  },
  scrollbar: {
    el: '#{{ include.name }}-scrollbar',
  },

  // Enable inside bootstrap collapse
  observer: true,
  observeParents: true,

  // Enable keyboard controls
  keyboard: {
    enabled: true,
    onlyInViewport: true,
  },

  // Disable preloading of all images
  preloadImages: false,
  // Enable lazy loading
  lazy: {
    loadPrevNext: true,
  },

});

</script>

<div class="spacer2rem"></div>
