<nav class="navbar navbar-light bg-yellow">
  <div class="container justify-content-end" style="height: 2rem">
    <!--
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->
    <div class="">
      <a class="link-secondary" href="/">ITA</a>
      |
      <a class="link-secondary" href="/en/">ENG</a>
    </div>
  </div>
</nav>
